body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

#app {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.toggle {
    display: flex;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pet-info {
    text-align: center;
}

#pet-art {
    font-size: 14px;
    line-height: 1.2;
    margin: 20px 0;
    white-space: pre;
    animation: bounce 0.5s infinite;
}

/* Animation for bouncing */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    background: var(--Secondary, #EDF2F9);
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stat span {
    font-size: 20px;
}

body.dark-theme {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-theme #app {
    background-color: #444;
}

.stats progress {
    border-radius: 5px;
    border: 1px solid var(--Text, #181818);
    background: var(--Secondary, #EDF2F9);
}